# Azure AD B2C
B2C_AUTHORITY=
B2C_SPA_CLIENT_ID=
B2C_KAPA_CLIENT_ID=
B2C_TENANT_ID=

# DORIS credentials
DORIS_USERNAME=
DORIS_PASSWORD=

# API
DORIS_API_BASE=https://doris.idealinspect.fi/api
DORIS_API_CODE=
KAPA_BASE_URL=https://kapa.idealinspect.fi

# TJ-Katsastus
CHAIN_ID=

# Bridge
BRIDGE_API_KEY=
PORT=3457
